
#map {
    height: 100vh;
    width: 100vw;
}

.leaflet-control-zoom-in {
    display: none !important;
}

.leaflet-control-zoom-out {
    display: none !important;
}

/* Caja de búsqueda */
.search-box {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1010;
    width: 380px;
}
.search-box .card {
    border-radius: 8px;
}

/*menú desplegable*/
.dropdown-menu {
    z-index: 1050;
}

/* Caja de filtros rápidos */
.filter-bar {
    position: absolute;
    top: 110px; 
    left: 20px;
    z-index: 1000;
}

/* Botonera de emergencias vertical a la derecha */
.sidebar-buttons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Base para botones circulares */
.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ffffff; 
}

.btn-circle:hover {
    transform: scale(1.05);
    background-color: #f8f9fa;
}

/* Clases individuales de botones */
.btn-police {

}
.btn-ambulance {

}
.btn-fire {

}
.btn-sos {
    background-color: #e80606; 
    color: #ffffff;
}
.btn-sos:hover {
    background-color: #c90505;
}

/* Controles inferiores derechos*/
.bottom-buttons {
    position: absolute;
    bottom: 25px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Caja del botón Reportar Alerta */
.report-box {
    position: absolute;
    left: 20px;
    bottom: 25px;
    z-index: 1000;
}

.img-filtro {
    width: 16px ;
    height: 16px ;
    margin-right: 5px;
    object-fit: contain;
}

.img-vehiculo {
    width: 26px ;  
    height: 26px ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img-fuego {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    object-fit: contain;
}

/* Ajustes para el logo en la barra de búsqueda */
.pre-logo-search {
    padding-left: 0;
    padding-right: 8px;
}

.img-search-logo {
    width: 22px;
    height: 22px;
    object-fit: contain;
    opacity: 0.8;
}

.popup,
.overlay {
    display: none;
}